* {
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}
{
	position: static;
	}
 {
  position: relative;
  top: 20px;
  left: 20px;
  background: blue;
}

 {
  position: fixed;
  top: 80px;
  left: 10px;
  background: blue;
}
.positioned {
  position: absolute;
  background: yellow;
  top: 30px;
  left: 30px;
}
{ 
position: sticky; 
top: 10px;
 }
.outer {
  width: 500px;
  height: 300px;
  overflow: scroll;
  padding-left: 150px;
}